{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolores minima eum. Illum totam quos esse deserunt impedit error saepe magnam expedita voluptatum iste rem quis dolore libero ducimus id, officiis aliquid. Provident repudiandae sunt optio minus error doloribus aliquid ut adipisci similique, porro quas doloremque quia a quis alias nisi maiores corrupti nesciunt consequatur laboriosam placeat. Animi suscipit placeat reiciendis. Ab autem quisquam enim, facere dolore modi hic dolores aperiam explicabo unde exercitationem, nemo cupiditate provident nisi nihil sint distinctio culpa officia cumque. Officiis laudantium incidunt dolores nam odit blanditiis maxime iusto recusandae alias, sint exercitationem. Odit, eligendi odio!</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin">
                Sign in!
            </a>
            <a class="btn btn-primary" href="/signup">
                Sign up!
            </a>
        </div>
        
        
    </section>
</main>

{% endblock %}